<body>
  <div style="background-color: #ffedf1">
    <section>
      <h1 class="fw-bold pt-5 text-center light" style="border-width: 100px">
        Meet Our Team
      </h1>
      <div class="container my-5 py-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-sm-2">
          <div class="col">
            <div class="our-team" style="height: 400px">
              <div class="picture">
                <img class="img-fluid" [src]="imageUrl + '31.png'" />
              </div>
              <div class="team-content">
                <h3 class="name">Ardine Jivensen</h3>
                <h4 class="title">21.K1.0011</h4>
              </div>
              <ul class="social">
                <li>
                  <a
                    href="https://instagram.com/ardinejiv?igshid=ZDc4ODBmNjlmNQ"
                  >
                    <i class="bi bi-instagram mx-2"></i>
                  </a>
                </li>
                <li>
                  <a href="https://discordapp.com/users/424194922506092547/">
                    <i class="bi bi-discord mx-2"></i>
                  </a>
                </li>
                <li>
                  <a href="mailto:21k10011@student.unika.ac.id">
                    <i class="fab fa-google"></i>
                  </a>
                </li>
                <li>
                  <a href="https://wa.me/qr/FEJLBA7YFHYHK1">
                    <i class="bi bi-whatsapp mx-2"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="our-team" style="height: 400px">
              <div class="picture">
                <img class="img-fluid" [src]="imageUrl + '29.png'" />
              </div>
              <div class="team-content">
                <h3 class="name">Heaven Valentine</h3>
                <h4 class="title">21.K1.0050</h4>
              </div>
              <ul class="social">
                <li>
                  <a
                    href="https://instagram.com/heaveeennn?igshid=NGExMmI2YTkyZg"
                  >
                    <i class="bi bi-instagram mx-2"></i>
                  </a>
                </li>
                <li>
                  <a href="https://discordapp.com/users/898359041242308618/">
                    <i class="bi bi-discord mx-2"></i>
                  </a>
                </li>
                <li>
                  <a href="mailto:21k10033@student.unika.ac.id">
                    <i class="fab fa-google"></i
                  ></a>
                </li>
                <li>
                  <a href="https://wa.me/qr/FEJLBA7YFHYHK1">
                    <i class="bi bi-whatsapp mx-2"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="our-team" style="height: 400px">
              <div class="picture">
                <img class="img-fluid" [src]="imageUrl + '30.png'" />
              </div>
              <div class="team-content">
                <h3 class="name">Nelsen</h3>
                <h4 class="title">21.K1.0045</h4>
              </div>
              <ul class="social">
                <li>
                  <a href="https://instagram.com/bronwynn29?igshid=MzNlNGNkZWQ4Mg">
                    <i class="bi bi-instagram mx-2"></i>
                  </a>
                </li>
                <li>
                  <a href="https://discordapp.com/users/266925596301328384/">
                    <i class="bi bi-discord mx-2"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.twitch.tv/bronwynnn29">
                    <i class="bi bi-twitch mx-2"></i>
                  </a>
                </li>
                <li>
                  <a href="https://steamcommunity.com/id/happyXsomnus//">
                    <i class="bi bi-steam mx-2"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="our-team" style="height: 400px">
              <div class="picture">
                <img class="img-fluid" [src]="imageUrl + '32.png'"/>
              </div>
              <div class="team-content">
                <h3 class="name">Yohan's Agung Prasetyo</h3>
                <h4 class="title">21.K1.0008</h4>
              </div>
              <ul class="social">
                <li>
                  <a href="https://www.instagram.com/xyoans/">
                    <i class="bi bi-instagram mx-2"></i>
                  </a>
                </li>
                <li>
                  <a href="https://discordapp.com/users/396168416068763688/">
                    <i class="bi bi-discord mx-2"></i>
                  </a>
                </li>
                <li>
                  <a href="mailto:21k10008@student.unika.ac.id">
                    <i class="fab fa-google"></i>
                  </a>
                </li>
                <li>
                  <a href="https://wa.me/qr/GKNB6YGCOEM3M1">
                    <i class="bi bi-whatsapp mx-2"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- <router-outlet></router-outlet> -->
</body>
