body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background-color: #63cbba;
}

.container-fluid .rounded-3 {
  max-height: 550px;
  overflow-y: auto;
}

.nav-font {
  font-size: 15px;
}

.navbar {
  background: white !important;
}

.nav-hov:hover {
  text-decoration: underline dashed #f2819e 2.5px;
}

.nav-item.active,
.nav-item.active a {
  color: #4ba67f;
  font-weight: bold;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.cf-1 {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  font-size: 14.5px !important;
}

.fs-13 {
  font-size: 13px;
}

@media (min-width: 576px) {
  .offcanvas-size {
    width: 200px !important;
  }
}

@media (max-width: 991.9px) {
  .navbar-collapse {
    margin-left: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 992px) {
  .container-fluid .rounded-3 {
    max-height: 570px;
  }
}
