<section>
  <div class="container my-3">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Report abuse or spam on Waktu Waktu
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            If you see content on Waktu Waktu that violates the Terms of
            Service, let us know right away. <br />In many cases, you can report
            inappropriate content directly from our products. In Waktu Waktu
            Mail, you can click Spam from the email in question and select a
            reason. <br />If a Waktu Waktu Mail account is sending you spam, or
            you want to report a Waktu Waktu Mail account for impersonation,
            harassment, or other Terms of Service violations, please report it
            to Waktu Waktu directly.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            Fix problems when a Waktu Waktu website isn't working
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Correct issues that get in the way of your Waktu Waktu experience so
            you can enjoy our website to the fullest. Start with the first step,
            then see if your problem is resolved before moving on to the next.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            Identify legitimate Waktu Waktu websites, requests, and
            communications
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Scammers are always looking for ways to get personal info with
            malicious intent. Know how to recognize legitimate Waktu Waktu
            websites, requests, and communications to keep your account secure.
            <br />If you're on a Waktu Waktu website, the URL contains "Waktu
            Waktu.com". Another indication that the site is secure is the
            presence of the lock icon Image of a lock icon. in the address bar.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour"
            aria-expanded="false"
            aria-controls="flush-collapseFour"
          >
            Get help from Waktu Waktu customer support
          </button>
        </h2>
        <div
          id="flush-collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFour"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Always make sure the Waktu Waktu support site you're using has a web
            address that ends with Waktu Waktu.com.
            <br />Remember: We don't have a contact option for every product or
            issue. But, you can find troubleshooting tips and answers to
            commonly asked questions anytime by browsing our extensive library
            of help articles, or by reaching out to us on Facebook and Twitter.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive"
            aria-expanded="false"
            aria-controls="flush-collapseFive"
          >
            Waktu Waktu requests
          </button>
        </h2>
        <div
          id="flush-collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingFive"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            We never ask for personal info, such as credit cards or passwords,
            in emails. However, from time to time, we'll ask you to update your
            recovery info after signing in. You'll also get a notification
            titled "Your Waktu Waktu account information has changed" if any
            info in your account settings are updated.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSeven">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseSeven"
            aria-expanded="false"
            aria-controls="flush-collapseSeven"
          >
            What Waktu Waktu communications look like
          </button>
        </h2>
        <div
          id="flush-collapseSeven"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingSeven"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            1. Viewing from web-based email - Emails from us include a Waktu
            Waktu icon Image of the Waktu Waktu icon. next to the subject or
            sender. If you don't see it, then the email isn't from Waktu Waktu.
            <br />2. Viewing from 3rd-party apps - The Waktu Waktu Image of the
            Waktu Waktu icon. icon won't appear in apps, even if the email is
            truly from us. Check the sender's email address without opening the
            email by mousing over the sender's name in your Inbox.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEight">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseEight"
            aria-expanded="false"
            aria-controls="flush-collapseEight"
          >
            Reasons you'll receive notifications
          </button>
        </h2>
        <div
          id="flush-collapseEight"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingEight"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Your review of content on Waktu Waktu (such as travel destinations
            and local businesses) received a response.
            <br />
            TEleven's important activity related to your account, such as
            password changes or expiration of a credit card you use to pay for
            any Waktu Waktu services.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingNine">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseNine"
            aria-expanded="false"
            aria-controls="flush-collapseNine"
          >
            Best practices to keep yourself safe
          </button>
        </h2>
        <div
          id="flush-collapseNine"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingNine"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Don't use internet search engines to find Waktu Waktu contact info,
            as they may lead you to malicious websites and support scams. Always
            go directly to Waktu Waktu Help Central for legitimate Waktu Waktu
            customer support.
            <br />
            Never click suspicious-looking links. Hover over hyperlinks with
            your cursor to preview the destination URL. Sometimes a hyperlink
            can be displayed as a Waktu Waktu link in an email, when in fact the
            destination URL will be a malicious domain.
            <br />
            Be careful when authorizing an app to access your account or when
            providing any third-party access to your account info. Applications
            officially supported by Waktu Waktu go through an industry-standard
            vetting process that offers a clear, obvious authentication known as
            OAuth 2.0.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTen">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTen"
            aria-expanded="false"
            aria-controls="flush-collapseTen"
          >
            How to use Waktu Waktu
          </button>
        </h2>
        <div
          id="flush-collapseTen"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTen"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            1. On your computer, go to WakuWaku.com.
            <br />
            2. At the top, click Take a note.
            <br />
            3. Enter your note and click Done.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEleven">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseEleven"
            aria-expanded="false"
            aria-controls="flush-collapseEleven"
          >
            Search for notes & lists
          </button>
        </h2>
        <div
          id="flush-collapseEleven"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingEleven"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            Quickly find your notes and lists by using the search bar in Waktu
            Waktu. You can filter by text or note features such as color,
            labels, and images.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
